body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 90%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 20px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: flex;
}

nav {
  background-color: #2d78b4;
  padding: .4em;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: .75em .75em;
  line-height: 25px;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.feature {
  width: 200px;
  float: inline-start;
  padding: 10px;
}